<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ZEUS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bitcoin</string>
				<string>BITCOIN</string>
				<string>lightning</string>
				<string>LIGHTNING</string>
				<string>lnurl</string>
				<string>lnurlw</string>
				<string>lnurlp</string>
				<string>lnurlc</string>
				<string>keyauth</string>
				<string>lndconnect</string>
				<string>cashu</string>
				<string>zeusln</string>
				<string>zeuscontact</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>itms-apps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>ZEUS would like permission to use NFC to supplement QR code scanning</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSTemporaryExceptionAllowsInsecureHTTPSLoads</key>
		<true/>
		<key>NSTemporaryExceptionMinimumTLSVersion</key>
		<string>1.0</string>
		<key>NSTemporaryExceptionRequiresForwardSecrecy</key>
		<false/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Not Used</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Not Used</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Not Used</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Not Used</string>
	<key>NSCameraUsageDescription</key>
	<string>ZEUS would like permission to use your camera to scan QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>FaceID is used to login to ZEUS</string>
	<key>NSLocationAlwaysDescription</key>
	<string>Not Used</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Not Used</string>
	<key>NSMotionUsageDescription</key>
	<string>Not Used</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>ZEUS would like permission to save QR codes to your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ZEUS would like permission to load QR codes from your photo library</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Not Used</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Marlide-Display.ttf</string>
		<string>Marlide-Display-Bold.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialDesignIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>PPNeueMontreal-Bold.otf</string>
		<string>PPNeueMontreal-Book.otf</string>
		<string>PPNeueMontreal-Medium.otf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>DroidSansMono.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
