name: Notify on Telegram
on:
  pull_request_target:
    types: [opened, closed, reopened]
  issues:
    types: [opened, pinned, closed, reopened]
jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Notify the commit on Telegram.
        uses: EverythingSuckz/github-telegram-notify@main
        with:
          bot_token: '${{ secrets.BOT_TOKEN }}'
          chat_id: '${{ secrets.CHAT_ID }}'